{% extends 'base.html' %}

{%block title%}
    <h2>{{task.name}}</h2>
{% endblock title%}

{% block content %}
    <div class="">
        <ul>
            <li>Priority: {{task.priority}}</li>
            <li>Status: {{task.status}}</li>
            <li>User: {{task.user.username}}</li>
            </ul>
    </div>
    <div class="" style="display:flex; justify-content: space-between;">
    <a style="text-decoration: none;color: black;" href="{% url 'task_list' %}"><button style="width:10rem">Back</button></a>
    <a style="text-decoration: none;color: black" href="{% url 'delete' task.id %}"><button style="width:10rem">Delete</button></a>
    <a style="text-decoration: none;color: black" href="{% url 'update' task.id %}"><button style="width:10rem">Update</button></a>
</div>
{% endblock content %}